@layer reset, exercise;

@import "./reset.css" layer(reset);
@import "../style.css" layer(exercise);

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,7,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
    --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
    --step-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
  }
  html {
    line-height: 1.5;
    background: oklch(97% .005 220);
    block-size: auto;
}

body {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 3rem;
}

article {
    line-height: 1.5;
    font-family: system-ui;

    >*+* {
        margin-block-start: var(--flow-space, 1.2em);
    }

}

  h1 {
    font-size: var(--step-5);
    font-weight: bolder;
    line-height: normal;
  }
  h2 {
    font-size: var(--step-3);
    line-height: normal;
  }
  p {
    font-size: var(--step-0);
    line-height: 1.6;
  }