---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: center; 
    scroll-snap-stop: always;
    scroll-behavior: smooth;
  }

  ul::after {
    content: '';
    flex: 1 0 70%; 
    height: 1px; 
  }

  ul li {
    min-width: 50ch; 
  max-width: 500px;
  flex: 1;
    background-color: rgb(223, 223, 223);
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 1rem;
    scroll-snap-align: center;
  }
  

</style>
